:root {
  --color-primary-400: hsl(158, 36%, 37%);
  --color-primary-500: hsl(158, 36%, 20%);
  --color-secondary-200: hsl(30, 38%, 92%);

  --color-netral-900: hsl(212, 21%, 14%);
  --color-netral-400: hsl(228, 12%, 48%);
  --color-netral-100: hsl(0, 0%, 100%);

  --ff-accent: "Fraunces", serif;
  --ff-base: "Montserrat", sans-serif;

  --fw-regular: 500;
  --fw-bold: 700;
}
/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
h1,
h2,
h3 {
  line-height: 1;
}
body {
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  font-size: 0.875rem;
  color: var(--color-netral-400);
  background: var(--color-secondary-200);

  display: grid;
  place-content: center;
  margin: 1rem;
}
/* Utilities */
.prices {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}
.hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.btn {
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;

  border: 0;
  border-radius: 0.5rem;
  padding: 0.75em 1.5em;
  background: var(--color-primary-400);
  color: var(--color-netral-100);
  font-weight: var(--fw-bold);
  font-size: 0.925rem;
}
.btn[data-icon="shopping-cart"]::before {
  content: "";
  background-image: url(../images/icon-cart.svg);
  width: 15px;
  height: 16px;
}
.btn:is(:hover, :focus) {
  background: var(--color-primary-500);
}
.container {
  --content-padding: 1.5rem;
  --content-spacing: 1rem;

  display: grid;
  background: var(--color-netral-100);
  border-radius: 0.5rem;
  overflow: hidden;
  max-width: 600px;
}
@media (min-width: 600px) {
  .container {
    --content-padding: 2rem;
    grid-template-columns: 1fr 1fr;
  }
}
.product {
  display: grid;
  gap: var(--content-spacing);
  padding: var(--content-padding);
}
.text {
  font-size: 0.8125rem;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.title {
  font-size: 2rem;
  font-family: var(--ff-accent);
  color: var(--color-netral-900);
}
.price {
  font-size: 2rem;
  font-family: var(--ff-accent);
  color: var(--color-primary-400);
}